<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm">
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="plato">Nombre</label>
            <input type="text" class="form-control" required [(ngModel)]="plato.nombre" name="plato">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-12">
            <label class="control-label" for="descripcion">Descripcion</label>
            <input type="text" class="form-control" required [(ngModel)]="plato.descripcion" name="descripcion">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!platoForm.form.valid">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>